2 - REST.json
[
    {
        "id": "7592ed96.094ea4",
        "type": "tab",
        "label": "REST",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c1f83cf5.3e588",
        "type": "http in",
        "z": "7592ed96.094ea4",
        "name": "",
        "url": "/pessoas/salvar",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "eeb65ad8.1073b8",
                "cbda3189.38da4",
                "37fd4d07.f78f72"
            ]
        ]
    },
    {
        "id": "37fd4d07.f78f72",
        "type": "http response",
        "z": "7592ed96.094ea4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 310,
        "y": 220,
        "wires": []
    },
    {
        "id": "f328720a.67c97",
        "type": "debug",
        "z": "7592ed96.094ea4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "61737b4b.ead8a4",
        "type": "cloudant out",
        "z": "7592ed96.094ea4",
        "name": "",
        "cloudant": "",
        "database": "pessoas",
        "service": "noderedexamples-cloudant-1586380784490-52464",
        "payonly": true,
        "operation": "insert",
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "f278ecc0.54e07",
        "type": "http in",
        "z": "7592ed96.094ea4",
        "name": "",
        "url": "/pessoas/delete",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 680,
        "wires": [
            [
                "5b0c0590.b4ab3c",
                "1fd0b56e.28406b",
                "5ed93234.ac680c"
            ]
        ]
    },
    {
        "id": "5b0c0590.b4ab3c",
        "type": "http response",
        "z": "7592ed96.094ea4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 370,
        "y": 620,
        "wires": []
    },
    {
        "id": "1fd0b56e.28406b",
        "type": "cloudant out",
        "z": "7592ed96.094ea4",
        "name": "",
        "cloudant": "",
        "database": "pessoas",
        "service": "noderedexamples-cloudant-1586380784490-52464",
        "payonly": true,
        "operation": "delete",
        "x": 380,
        "y": 680,
        "wires": []
    },
    {
        "id": "5ed93234.ac680c",
        "type": "debug",
        "z": "7592ed96.094ea4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 370,
        "y": 740,
        "wires": []
    },
    {
        "id": "db331b34.9a46d8",
        "type": "http in",
        "z": "7592ed96.094ea4",
        "name": "",
        "url": "/pessoas/all",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 840,
        "wires": [
            [
                "a3b9f94f.8157b8"
            ]
        ]
    },
    {
        "id": "88dc641a.e34348",
        "type": "http response",
        "z": "7592ed96.094ea4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 840,
        "wires": []
    },
    {
        "id": "8cf717be.a38b68",
        "type": "debug",
        "z": "7592ed96.094ea4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 550,
        "y": 880,
        "wires": []
    },
    {
        "id": "a3b9f94f.8157b8",
        "type": "cloudant in",
        "z": "7592ed96.094ea4",
        "name": "",
        "cloudant": "",
        "database": "pessoas",
        "service": "noderedexamples-cloudant-1586380784490-52464",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 340,
        "y": 840,
        "wires": [
            [
                "88dc641a.e34348",
                "8cf717be.a38b68"
            ]
        ]
    },
    {
        "id": "5eae705f.cfeb5",
        "type": "http in",
        "z": "7592ed96.094ea4",
        "name": "",
        "url": "/pessoa/id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 980,
        "wires": [
            [
                "171fbe1d.4f12e2",
                "f036af73.1e552"
            ]
        ]
    },
    {
        "id": "171fbe1d.4f12e2",
        "type": "cloudant in",
        "z": "7592ed96.094ea4",
        "name": "",
        "cloudant": "",
        "database": "pessoas",
        "service": "noderedexamples-cloudant-1586380784490-52464",
        "search": "_id_",
        "design": "",
        "index": "",
        "x": 310,
        "y": 980,
        "wires": [
            [
                "d7239a60.3ecda8",
                "f036af73.1e552"
            ]
        ]
    },
    {
        "id": "f036af73.1e552",
        "type": "debug",
        "z": "7592ed96.094ea4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 390,
        "y": 1060,
        "wires": []
    },
    {
        "id": "d7239a60.3ecda8",
        "type": "http response",
        "z": "7592ed96.094ea4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 500,
        "y": 980,
        "wires": []
    },
    {
        "id": "fa77c3ba.cb526",
        "type": "http in",
        "z": "7592ed96.094ea4",
        "name": "",
        "url": "/pessoas/update",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 440,
        "wires": [
            [
                "a422f913.4949b8",
                "caf63329.7b56d",
                "efc2f302.3c59d"
            ]
        ]
    },
    {
        "id": "a422f913.4949b8",
        "type": "http response",
        "z": "7592ed96.094ea4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 380,
        "y": 400,
        "wires": []
    },
    {
        "id": "caf63329.7b56d",
        "type": "cloudant out",
        "z": "7592ed96.094ea4",
        "name": "",
        "cloudant": "",
        "database": "pessoas",
        "service": "noderedexamples-cloudant-1586380784490-52464",
        "payonly": true,
        "operation": "insert",
        "x": 370,
        "y": 460,
        "wires": []
    },
    {
        "id": "efc2f302.3c59d",
        "type": "debug",
        "z": "7592ed96.094ea4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 380,
        "y": 520,
        "wires": []
    },
    {
        "id": "7fce86b6.74d9e8",
        "type": "http in",
        "z": "7592ed96.094ea4",
        "name": "",
        "url": "/pessoas/name",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 1160,
        "wires": [
            [
                "58e566da.1231e8"
            ]
        ]
    },
    {
        "id": "c5d05cab.f2f1a",
        "type": "cloudant in",
        "z": "7592ed96.094ea4",
        "name": "nameSearch",
        "cloudant": "",
        "database": "pessoas",
        "service": "noderedexamples-cloudant-1586380784490-52464",
        "search": "_idx_",
        "design": "nameSearch",
        "index": "nameSearch",
        "x": 490,
        "y": 1160,
        "wires": [
            [
                "f1c6888d.7c3598"
            ]
        ]
    },
    {
        "id": "72a07192.0b4cf",
        "type": "debug",
        "z": "7592ed96.094ea4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 630,
        "y": 1260,
        "wires": []
    },
    {
        "id": "f1c6888d.7c3598",
        "type": "http response",
        "z": "7592ed96.094ea4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 1160,
        "wires": []
    },
    {
        "id": "eeb65ad8.1073b8",
        "type": "switch",
        "z": "7592ed96.094ea4",
        "name": "",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "gt",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "61737b4b.ead8a4"
            ],
            [
                "e1ee36f7.cc5b98"
            ]
        ]
    },
    {
        "id": "e1ee36f7.cc5b98",
        "type": "split",
        "z": "7592ed96.094ea4",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 430,
        "y": 220,
        "wires": [
            [
                "61737b4b.ead8a4",
                "f328720a.67c97"
            ]
        ]
    },
    {
        "id": "cbda3189.38da4",
        "type": "debug",
        "z": "7592ed96.094ea4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.length",
        "targetType": "msg",
        "x": 350,
        "y": 140,
        "wires": []
    },
    {
        "id": "58e566da.1231e8",
        "type": "function",
        "z": "7592ed96.094ea4",
        "name": "selector",
        "func": "msg.payload = \"nameSearch:\" + msg.payload.name;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 1160,
        "wires": [
            [
                "c5d05cab.f2f1a",
                "72a07192.0b4cf"
            ]
        ]
    }
]