3 - UI Dashboards/Palestra.json
[{"id":"3087ef5d.e925e","type":"tab","label":"SESSÃO 2","disabled":false,"info":""},{"id":"d6c58802.4a8398","type":"tab","label":"EXEMPLOS","disabled":false,"info":""},{"id":"8594b6a6.18bb28","type":"tab","label":"MyDashboard","disabled":false,"info":""},{"id":"a2ab47c5.e53128","type":"tab","label":"GRÁFICOS","disabled":false,"info":""},{"id":"efc7e173.7331c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#ffa200","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#ffa200","edited":true},"page-titlebar-backgroundColor":{"value":"#ffa200","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ffbe4d","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#ffa200","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3ba037a2.e58278","type":"ui_tab","z":"","name":"Node-RED Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"2a44e7e9.59c4d8","type":"ui_group","z":"","name":"SISTEMA OPERACIONAL","tab":"3ba037a2.e58278","order":1,"disp":true,"width":"15","collapse":true},{"id":"f39f96c2.742818","type":"ui_group","z":"","name":"Memória - USO ATUAL","tab":"3ba037a2.e58278","order":2,"disp":true,"width":"15","collapse":false},{"id":"52ee5a73.9752e4","type":"ui_group","z":"","name":"CLIMA","tab":"8c23943e.9d9fa8","order":1,"disp":true,"width":"7","collapse":false},{"id":"8c23943e.9d9fa8","type":"ui_tab","z":"","name":"Clima","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"90d29506.c80768","type":"ui_group","z":"","name":"Charts","tab":"e59f40ac.4e1a5","order":2,"disp":false,"width":"6"},{"id":"84c7e1e8.eeadc","type":"ui_group","z":"","name":"Inputs","tab":"e59f40ac.4e1a5","order":1,"disp":false,"width":"6"},{"id":"37412447.7173dc","type":"ui_group","z":"","name":"Group 3","tab":"e59f40ac.4e1a5","order":3,"disp":false,"width":"6"},{"id":"e59f40ac.4e1a5","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"875fb4d7.090268","type":"ui_group","z":"","name":"Memória - TIMELINE","tab":"3ba037a2.e58278","order":3,"disp":true,"width":"15","collapse":false},{"id":"eb7d339a.1d534","type":"ui_spacer","name":"spacer","group":"f39f96c2.742818","order":2,"width":1,"height":1},{"id":"64a323fd.9a347c","type":"ui_group","z":"","name":"TEMPERATURA","tab":"8c23943e.9d9fa8","order":2,"disp":true,"width":"6","collapse":false},{"id":"7b5e0dd8.7f7d84","type":"ui_group","z":"","name":"UMIDADE","tab":"8c23943e.9d9fa8","order":3,"disp":true,"width":"6","collapse":false},{"id":"837baf77.88d93","type":"ui_group","z":"","name":"VENTO","tab":"8c23943e.9d9fa8","order":4,"disp":true,"width":"6","collapse":false},{"id":"cec32d6a.61312","type":"ui_tab","z":"","name":"EXEMPLOS","icon":"dashboard","disabled":false,"hidden":false},{"id":"229b7f4b.be688","type":"ui_group","z":"","name":"Node-RED Dashboard","tab":"3ba037a2.e58278","order":4,"disp":true,"width":"6","collapse":false},{"id":"7eeb84bf.2f762c","type":"ui_group","z":"","name":"Exemplos","tab":"cec32d6a.61312","order":1,"disp":true,"width":"6","collapse":false},{"id":"b9c35cb5.3837","type":"ui_group","z":"","name":"CORES","tab":"cec32d6a.61312","order":2,"disp":true,"width":"6","collapse":false},{"id":"86d7e977.da09e8","type":"ui_group","z":"","name":"GRUPO SESSÃO 01 TARDE","tab":"","order":1,"disp":true,"width":"10","collapse":false},{"id":"379785b3.41e51a","type":"ui_group","z":"","name":"GRUPO 02 SESSÃO TARDE","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"41224d9.29b20b4","type":"ui_group","z":"","name":"Clima palestra","tab":"","order":2,"disp":true,"width":"10","collapse":false},{"id":"8368e77a.2a7138","type":"ui_group","z":"","name":"Umiadade","tab":"","order":3,"disp":true,"width":"10","collapse":false},{"id":"11eaa06e.5bfc5","type":"ui_group","z":"","name":"Cidade","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"586fb78d.5c1a78","type":"ui_group","z":"","name":"Vento","tab":"","order":4,"disp":true,"width":"5","collapse":false},{"id":"4e22a395.aabcdc","type":"ui_tab","z":"","name":"TAB NOITE","icon":"dashboard","disabled":false,"hidden":false},{"id":"81bdd7e8.ccb7a8","type":"ui_group","z":"","name":"CLIMA","tab":"4e22a395.aabcdc","order":2,"disp":true,"width":"5","collapse":false},{"id":"efab661c.6dcc28","type":"ui_group","z":"","name":"Group 2","tab":"4e22a395.aabcdc","order":3,"disp":true,"width":"5","collapse":false},{"id":"c6ea3507.e742d8","type":"ui_group","name":"Group 3","tab":"4e22a395.aabcdc","order":4,"disp":true,"width":6},{"id":"fff52f3e.19a3b","type":"ui_group","z":"","name":"CIDADE","tab":"4e22a395.aabcdc","order":1,"disp":true,"width":"6","collapse":false},{"id":"ead4ed38.eab89","type":"OS","z":"8594b6a6.18bb28","name":"","x":370,"y":140,"wires":[["3bd3a695.61c89a","939303d0.d053e","10c9b130.667a0f","b9740274.a46e4"]]},{"id":"de7a9162.97803","type":"inject","z":"8594b6a6.18bb28","name":"update","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"","x":160,"y":300,"wires":[["cfa6239b.dc9b3","ead4ed38.eab89","7efad033.49109"]]},{"id":"3bd3a695.61c89a","type":"function","z":"8594b6a6.18bb28","name":"hostname","func":"msg.payload =  msg.payload.hostname; \n\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":100,"wires":[["6f439df7.801ce4"]]},{"id":"939303d0.d053e","type":"function","z":"8594b6a6.18bb28","name":"osType","func":"msg.payload = msg.payload.type; \nreturn msg;","outputs":1,"noerr":0,"x":602.5,"y":146.25000190734863,"wires":[["14e15081.cda20f"]]},{"id":"10c9b130.667a0f","type":"function","z":"8594b6a6.18bb28","name":"Version","func":"msg.payload = msg.payload.release; \nreturn msg;","outputs":1,"noerr":0,"x":601.25,"y":195.00000190734863,"wires":[["4bb89dc4.bf3c34"]]},{"id":"b9740274.a46e4","type":"function","z":"8594b6a6.18bb28","name":"arch","func":"msg.payload = msg.payload.arch;\nreturn msg;","outputs":1,"noerr":0,"x":593.75,"y":237.50000190734863,"wires":[["73650f03.e06e7"]]},{"id":"ab7b0de9.6b8ba","type":"function","z":"8594b6a6.18bb28","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":400,"wires":[["4faba0ee.25f7f"]]},{"id":"e21de60d.b854f8","type":"function","z":"8594b6a6.18bb28","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1024; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.totalmem);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":440,"wires":[["c3fbdfbd.816b2"]]},{"id":"ff4484a5.e5e4b8","type":"function","z":"8594b6a6.18bb28","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1024; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.freemem);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":480,"wires":[["13790460.79094c"]]},{"id":"f8054851.17f298","type":"function","z":"8594b6a6.18bb28","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":360,"wires":[["15e709fe.2079d6"]]},{"id":"cfa6239b.dc9b3","type":"Memory","z":"8594b6a6.18bb28","name":"","x":360,"y":420,"wires":[["f8054851.17f298","ab7b0de9.6b8ba","e21de60d.b854f8","ff4484a5.e5e4b8"]]},{"id":"4faba0ee.25f7f","type":"ui_gauge","z":"8594b6a6.18bb28","name":"Memory Usage","group":"f39f96c2.742818","order":1,"width":0,"height":0,"gtype":"gage","title":"2","label":"% Usage","format":"{{value | number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":400,"wires":[]},{"id":"6f439df7.801ce4","type":"ui_text","z":"8594b6a6.18bb28","group":"2a44e7e9.59c4d8","order":2,"width":0,"height":0,"name":"hostname","label":"Hostname","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":100,"wires":[]},{"id":"14e15081.cda20f","type":"ui_text","z":"8594b6a6.18bb28","group":"2a44e7e9.59c4d8","order":1,"width":0,"height":0,"name":"OS","label":"OS","format":"{{msg.payload}}","layout":"row-spread","x":807.5,"y":158.75,"wires":[]},{"id":"4bb89dc4.bf3c34","type":"ui_text","z":"8594b6a6.18bb28","group":"2a44e7e9.59c4d8","order":3,"width":0,"height":0,"name":"Version","label":"Version","format":"{{msg.payload}}","layout":"row-spread","x":816.25,"y":200.00000190734863,"wires":[]},{"id":"73650f03.e06e7","type":"ui_text","z":"8594b6a6.18bb28","group":"2a44e7e9.59c4d8","order":4,"width":0,"height":0,"name":"arch","label":"Arch","format":"{{msg.payload}}","layout":"row-spread","x":808.75,"y":243.75000190734863,"wires":[]},{"id":"c3fbdfbd.816b2","type":"ui_text","z":"8594b6a6.18bb28","group":"f39f96c2.742818","order":2,"width":0,"height":0,"name":"","label":"Total Memory","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":440,"wires":[]},{"id":"13790460.79094c","type":"ui_text","z":"8594b6a6.18bb28","group":"f39f96c2.742818","order":3,"width":0,"height":0,"name":"","label":"Free Memory","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":480,"wires":[]},{"id":"15e709fe.2079d6","type":"ui_chart","z":"8594b6a6.18bb28","name":"Memory - Usage","group":"875fb4d7.090268","order":1,"width":0,"height":0,"label":"1","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"useUTC":false,"colors":["#ffc800","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":870,"y":360,"wires":[[]]},{"id":"6d4df06a.ce9b1","type":"function","z":"a2ab47c5.e53128","name":"","func":"var m={};\nm.labels = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\", \"July\"];\nm.series = ['Series A', 'Series B', 'Series C'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":250,"y":380,"wires":[["478c2511.8e5e7c","a6ebdb4c.4e5008","21a20107.6e817e","c5638584.c89008"]]},{"id":"478c2511.8e5e7c","type":"ui_chart","z":"a2ab47c5.e53128","name":"","group":"90d29506.c80768","order":1,"width":0,"height":0,"label":"line chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1160,"y":40,"wires":[[]]},{"id":"ebad4782.ed61c8","type":"function","z":"a2ab47c5.e53128","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n    \"data\":[[{\"x\":1504029632890,\"y\":5},{\"x\":1504029636001,\"y\":4},{\"x\":1504029638656,\"y\":2}],[{\"x\":1504029633514,\"y\":6},{\"x\":1504029636622,\"y\":7},{\"x\":1504029639539,\"y\":6}],[{\"x\":1504029634400,\"y\":7},{\"x\":1504029637959,\"y\":9},{\"x\":1504029640317,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":220,"wires":[["478c2511.8e5e7c"]]},{"id":"e8bc0089.51ac6","type":"ui_button","z":"a2ab47c5.e53128","name":"","group":"84c7e1e8.eeadc","order":1,"width":0,"height":0,"passthru":false,"label":"Time Line 1","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":220,"wires":[["ebad4782.ed61c8"]]},{"id":"a6ebdb4c.4e5008","type":"ui_chart","z":"a2ab47c5.e53128","name":"","group":"90d29506.c80768","order":2,"width":0,"height":0,"label":"bar chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1160,"y":100,"wires":[[],[]]},{"id":"6a3b1e49.6f89f","type":"ui_button","z":"a2ab47c5.e53128","name":"","group":"84c7e1e8.eeadc","order":5,"width":0,"height":0,"passthru":false,"label":"array","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":380,"wires":[["6d4df06a.ce9b1"]]},{"id":"13b0e3bf.acd0ac","type":"inject","z":"a2ab47c5.e53128","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":800,"wires":[["40f0093.93aa6f8"]]},{"id":"18e172c3.bc866d","type":"function","z":"a2ab47c5.e53128","name":"","func":"var m={};\nm.labels = [10,20,30,40,50,60,70];\nm.series = ['Series A', 'Series B', 'Series C', 'Series D'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20],\n    [58, 18, 40, 29, 15, 30, 60]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":250,"y":420,"wires":[["478c2511.8e5e7c","a6ebdb4c.4e5008","21a20107.6e817e","c5638584.c89008"]]},{"id":"8f8cbd0a.2ac6f","type":"ui_button","z":"a2ab47c5.e53128","name":"","group":"84c7e1e8.eeadc","order":6,"width":0,"height":0,"passthru":false,"label":"array2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":420,"wires":[["18e172c3.bc866d"]]},{"id":"b6591e42.b2db1","type":"function","z":"a2ab47c5.e53128","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1,\"y\":5},{\"x\":2,\"y\":4},{\"x\":3,\"y\":2}],[{\"x\":4,\"y\":6},{\"x\":5,\"y\":7},{\"x\":6,\"y\":6}],[{\"x\":7,\"y\":7},{\"x\":8,\"y\":9},{\"x\":9,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":260,"wires":[["478c2511.8e5e7c"]]},{"id":"6b5fcca5.a98684","type":"ui_button","z":"a2ab47c5.e53128","name":"","group":"84c7e1e8.eeadc","order":2,"width":0,"height":0,"passthru":false,"label":"Time Line 2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":260,"wires":[["b6591e42.b2db1"]]},{"id":"6c7ab363.8ba37c","type":"function","z":"a2ab47c5.e53128","name":"","func":"var m = {};\nm.labels = [\"Download\", \"In-Store\", \"Mail-Order\"];\nm.data = [[300, 500, 100]];\nm.series = [\"Sales\"];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":270,"y":620,"wires":[["c5638584.c89008","a6ebdb4c.4e5008","478c2511.8e5e7c","affa5a73.a24fd8","39013f6f.7944f","21a20107.6e817e"]]},{"id":"c5638584.c89008","type":"ui_chart","z":"a2ab47c5.e53128","name":"pie chart","group":"90d29506.c80768","order":3,"width":0,"height":0,"label":"pie chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1120,"y":440,"wires":[[],[]]},{"id":"c47d72db.03a39","type":"ui_button","z":"a2ab47c5.e53128","name":"","group":"84c7e1e8.eeadc","order":10,"width":0,"height":0,"passthru":false,"label":"array for pie","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie 4 T","x":110,"y":620,"wires":[["6c7ab363.8ba37c"]]},{"id":"7d47c8f9.353668","type":"function","z":"a2ab47c5.e53128","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000,\"y\":5},{\"x\":2000000,\"y\":4},{\"x\":3000000,\"y\":2}],[{\"x\":4000000,\"y\":6},{\"x\":5000000,\"y\":7},{\"x\":6000000,\"y\":6}],[{\"x\":7000000,\"y\":7},{\"x\":8000000,\"y\":9},{\"x\":9000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":300,"wires":[["478c2511.8e5e7c"]]},{"id":"a1619831.159b88","type":"ui_button","z":"a2ab47c5.e53128","name":"","group":"84c7e1e8.eeadc","order":3,"width":0,"height":0,"passthru":false,"label":"Time Line 3","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":300,"wires":[["7d47c8f9.353668"]]},{"id":"8ac1b0ae.445b","type":"function","z":"a2ab47c5.e53128","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000000,\"y\":5},{\"x\":2000000000,\"y\":4},{\"x\":3000000000,\"y\":2}],[{\"x\":4000000000,\"y\":6},{\"x\":5000000000,\"y\":7},{\"x\":6000000000,\"y\":6}],[{\"x\":7000000000,\"y\":7},{\"x\":8000000000,\"y\":9},{\"x\":9000000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":340,"wires":[["478c2511.8e5e7c"]]},{"id":"b416042.b778ef8","type":"ui_button","z":"a2ab47c5.e53128","name":"","group":"84c7e1e8.eeadc","order":4,"width":0,"height":0,"passthru":false,"label":"Time Line 4","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":340,"wires":[["8ac1b0ae.445b"]]},{"id":"f827e4f3.56c1c8","type":"function","z":"a2ab47c5.e53128","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5,6,9],[3,8,5],[6,7,2]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":250,"y":540,"wires":[["478c2511.8e5e7c","a6ebdb4c.4e5008","c5638584.c89008","affa5a73.a24fd8","39013f6f.7944f","21a20107.6e817e"]]},{"id":"252e67ad.6c06b8","type":"ui_button","z":"a2ab47c5.e53128","name":"","group":"84c7e1e8.eeadc","order":9,"width":0,"height":0,"passthru":false,"label":"array3c","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":540,"wires":[["f827e4f3.56c1c8"]]},{"id":"25fcbbf2.c4af84","type":"ui_button","z":"a2ab47c5.e53128","name":"","group":"84c7e1e8.eeadc","order":11,"width":0,"height":0,"passthru":false,"label":"array 2 for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie Hole","x":120,"y":660,"wires":[["545d08a9.cb4c18"]]},{"id":"545d08a9.cb4c18","type":"function","z":"a2ab47c5.e53128","name":"","func":"var m = {};\nm.labels = ['2006', '2007', '2008', '2009', '2010', '2011', '2012'];\nm.data = [[28, 48, 40, 19, 86, 27, 90]];\nm.series = ['Series A'];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":270,"y":660,"wires":[["c5638584.c89008","a6ebdb4c.4e5008","39013f6f.7944f","affa5a73.a24fd8","478c2511.8e5e7c","21a20107.6e817e"]]},{"id":"caac0f76.505dc","type":"function","z":"a2ab47c5.e53128","name":"topic","func":"var m = [\n    {topic:\"X\", payload:22},\n    {topic:\"Y\", payload:66},\n    {topic:\"Z\", payload:42}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":250,"y":180,"wires":[["a6ebdb4c.4e5008","c5638584.c89008","478c2511.8e5e7c","21a20107.6e817e"]]},{"id":"bdccfc46.bd9ca","type":"inject","z":"a2ab47c5.e53128","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":180,"wires":[["caac0f76.505dc"]]},{"id":"167bccc3.1f8d03","type":"function","z":"a2ab47c5.e53128","name":"label","func":"var m = [\n    {label:\"A\", payload:22},\n    {label:\"B\", payload:66},\n    {label:\"C\", payload:42},\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":250,"y":140,"wires":[["a6ebdb4c.4e5008","c5638584.c89008","478c2511.8e5e7c","21a20107.6e817e"]]},{"id":"d99bbae4.8023b8","type":"inject","z":"a2ab47c5.e53128","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":140,"wires":[["167bccc3.1f8d03"]]},{"id":"782c8570.20fc8c","type":"function","z":"a2ab47c5.e53128","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5],[3],[6]],\n    \"labels\":[\"Jan\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":250,"y":460,"wires":[["a6ebdb4c.4e5008","affa5a73.a24fd8","39013f6f.7944f","478c2511.8e5e7c","21a20107.6e817e","c5638584.c89008"]]},{"id":"722e74e.23ed18c","type":"ui_button","z":"a2ab47c5.e53128","name":"","group":"84c7e1e8.eeadc","order":7,"width":0,"height":0,"passthru":false,"label":"array3a","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":460,"wires":[["782c8570.20fc8c"]]},{"id":"151b74d5.15376b","type":"function","z":"a2ab47c5.e53128","name":"","func":"var m={\n    \"series\":[\"X\"],\n    \"data\":[[5,3,6]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":250,"y":500,"wires":[["a6ebdb4c.4e5008","478c2511.8e5e7c","39013f6f.7944f","affa5a73.a24fd8","21a20107.6e817e","c5638584.c89008"]]},{"id":"b7f1354b.d96e58","type":"ui_button","z":"a2ab47c5.e53128","name":"","group":"84c7e1e8.eeadc","order":8,"width":0,"height":0,"passthru":false,"label":"array3b","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":500,"wires":[["151b74d5.15376b"]]},{"id":"21a20107.6e817e","type":"ui_chart","z":"a2ab47c5.e53128","name":"","group":"37412447.7173dc","order":2,"width":0,"height":0,"label":"horizontal bar","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1200,"y":160,"wires":[[],[]]},{"id":"affa5a73.a24fd8","type":"ui_chart","z":"a2ab47c5.e53128","name":"","group":"37412447.7173dc","order":3,"width":0,"height":0,"label":"polar chart","chartType":"polar-area","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1130,"y":500,"wires":[[],[]]},{"id":"39013f6f.7944f","type":"ui_chart","z":"a2ab47c5.e53128","name":"","group":"37412447.7173dc","order":4,"width":0,"height":0,"label":"radar chart","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1130,"y":560,"wires":[[],[]]},{"id":"9067540d.a88d68","type":"function","z":"a2ab47c5.e53128","name":"label","func":"var m = [\n    {label:\"A\", payload:22, series:\"X\"},\n    {label:\"B\", payload:66, series:\"X\"},\n    {label:\"C\", payload:42, series:\"X\"},\n    {label:\"A\", payload:33, series:\"Y\"},\n    {label:\"B\", payload:72, series:\"Y\"},\n    {label:\"C\", payload:12, series:\"Y\"},\n    {label:\"A\", payload:44, series:\"Z\"},\n    {label:\"B\", payload:32, series:\"Z\"},\n    {label:\"C\", payload:80, series:\"Z\"}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":250,"y":100,"wires":[["c5638584.c89008","a6ebdb4c.4e5008","478c2511.8e5e7c","21a20107.6e817e"]]},{"id":"3da7f12a.45f5be","type":"inject","z":"a2ab47c5.e53128","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":100,"wires":[["9067540d.a88d68"]]},{"id":"70e30bba.d70dd4","type":"ui_button","z":"a2ab47c5.e53128","name":"","group":"84c7e1e8.eeadc","order":11,"width":0,"height":0,"passthru":false,"label":"Clear All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":1000,"y":300,"wires":[["39013f6f.7944f","affa5a73.a24fd8","c5638584.c89008","21a20107.6e817e","a6ebdb4c.4e5008","478c2511.8e5e7c"]]},{"id":"40f0093.93aa6f8","type":"random","z":"a2ab47c5.e53128","name":"","low":"1","high":"10000000","inte":"true","x":350,"y":800,"wires":[["478c2511.8e5e7c"]]},{"id":"dce1d72c.e89708","type":"ui_button","z":"d6c58802.4a8398","name":"","group":"7eeb84bf.2f762c","order":7,"width":0,"height":0,"passthru":false,"label":"Botão","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":400,"wires":[["ac96a8e8.774e48"]]},{"id":"ac96a8e8.774e48","type":"function","z":"d6c58802.4a8398","name":"","func":"var m={\n    \"series\":[\"Janeiro\",\"Fevereiro\",\"Março\"],\n    \"data\":[[15],[30],[60]],\n    \"labels\":[\"COVID-19\"]\n};\n\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":250,"y":400,"wires":[["9d6ba9da.9c7068","df955418.ef6b88"]]},{"id":"9d6ba9da.9c7068","type":"ui_chart","z":"d6c58802.4a8398","name":"bar chart","group":"7eeb84bf.2f762c","order":3,"width":0,"height":0,"label":"bar chart","chartType":"horizontalBar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":400,"y":360,"wires":[[]]},{"id":"df955418.ef6b88","type":"ui_chart","z":"d6c58802.4a8398","name":"bar chart","group":"7eeb84bf.2f762c","order":3,"width":0,"height":0,"label":"bar chart","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":400,"y":400,"wires":[[]]},{"id":"917e19f7.464608","type":"comment","z":"d6c58802.4a8398","name":"CHARTS","info":"","x":260,"y":300,"wires":[]},{"id":"c7fe4fcf.00d2a","type":"ui_colour_picker","z":"d6c58802.4a8398","name":"","label":"CORES RGB","group":"b9c35cb5.3837","format":"rgb","outformat":"string","showSwatch":true,"showPicker":true,"showValue":false,"showHue":true,"showAlpha":true,"showLightness":false,"square":"true","dynOutput":"false","order":4,"width":"0","height":"0","passthru":true,"topic":"","x":150,"y":140,"wires":[["3cddbd1a.2fddf2"]]},{"id":"3cddbd1a.2fddf2","type":"ui_text","z":"d6c58802.4a8398","group":"b9c35cb5.3837","order":3,"width":0,"height":0,"name":"","label":"MEU RGB É:","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":140,"wires":[]},{"id":"ecfb8b4c.d5c9e8","type":"function","z":"d6c58802.4a8398","name":"Direção do vento","func":"msg.payload = msg.payload.winddirection\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":640,"wires":[[]]},{"id":"2f4495bd.e0098a","type":"function","z":"d6c58802.4a8398","name":"Cidade","func":"msg.payload = msg.payload.location\nreturn msg;","outputs":1,"noerr":0,"x":601.25,"y":696.25,"wires":[[]]},{"id":"6a43e154.8ef9","type":"function","z":"d6c58802.4a8398","name":"Detalhe","func":"msg.payload = msg.payload.detail;\nreturn msg;","outputs":1,"noerr":0,"x":604.9999961853027,"y":742.5,"wires":[[]]},{"id":"22694ecf.b9c822","type":"function","z":"d6c58802.4a8398","name":"Temperatura","func":"msg.payload = msg.payload.tempc\nreturn msg;","outputs":1,"noerr":0,"x":611.2499961853027,"y":782.5000019073486,"wires":[[]]},{"id":"1c4c04a9.b0d24b","type":"ui_text","z":"d6c58802.4a8398","group":"52ee5a73.9752e4","order":2,"width":"7","height":"2","name":"Cidade","label":"Cidade","format":"{{msg.payload}}","layout":"row-spread","x":807.4999923706055,"y":694.9999904632568,"wires":[]},{"id":"70fc1e9e.419bb","type":"ui_text","z":"d6c58802.4a8398","group":"52ee5a73.9752e4","order":3,"width":0,"height":0,"name":"Detalhe","label":"Situação","format":"{{msg.payload}}","layout":"row-center","x":808.75,"y":741.25,"wires":[]},{"id":"f4007731.6cb608","type":"openweathermap","z":"d6c58802.4a8398","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"pt","x":390,"y":720,"wires":[[]]},{"id":"afe68e56.8564e","type":"ui_text_input","z":"d6c58802.4a8398","name":"","label":"","tooltip":"","group":"52ee5a73.9752e4","order":1,"width":"0","height":"0","passthru":true,"mode":"text","delay":"1000","topic":"","x":120,"y":640,"wires":[[]],"inputLabels":["Campinas"]},{"id":"6544d47d.debcac","type":"function","z":"d6c58802.4a8398","name":"","func":" msg = {\n     'location':{\n        'city': msg.payload,\n        'country' : 'Brasil'\n        }\n }\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":720,"wires":[[]]},{"id":"e6a81858.2da658","type":"function","z":"d6c58802.4a8398","name":"Umidade","func":"msg.payload = msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":840,"wires":[[]]},{"id":"5870d3b7.e04bdc","type":"ui_gauge","z":"d6c58802.4a8398","name":"","group":"7b5e0dd8.7f7d84","order":1,"width":"6","height":"6","gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":840,"wires":[]},{"id":"d31012db.bdfc8","type":"ui_gauge","z":"d6c58802.4a8398","name":"","group":"64a323fd.9a347c","order":1,"width":"6","height":"6","gtype":"gage","title":"","label":"oC","format":"{{value}}","min":"-15","max":"45","colors":["#70e2ff","#11ff00","#ff2600"],"seg1":"","seg2":"","x":790,"y":780,"wires":[]},{"id":"de81a4ab.e3bed8","type":"ui_gauge","z":"d6c58802.4a8398","name":"","group":"837baf77.88d93","order":1,"width":"0","height":"0","gtype":"compass","title":"Direção","label":"","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":640,"wires":[]},{"id":"5474105c.c21c7","type":"ui_text","z":"d6c58802.4a8398","group":"837baf77.88d93","order":2,"width":"0","height":"0","name":"","label":"Velocidade  KMs/h","format":"{{msg.payload.windspeed}}","layout":"row-center","x":610,"y":600,"wires":[]},{"id":"9a8740b5.7fa84","type":"comment","z":"d6c58802.4a8398","name":"WEATHER","info":"https://home.openweathermap.org/api_keys","x":280,"y":560,"wires":[]},{"id":"7efad033.49109","type":"CPUs","z":"8594b6a6.18bb28","name":"","x":370,"y":300,"wires":[["53fdfb31.6d2a24"]]},{"id":"53fdfb31.6d2a24","type":"ui_text","z":"8594b6a6.18bb28","group":"2a44e7e9.59c4d8","order":4,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload.cpus[0].model}}","layout":"row-spread","x":660,"y":300,"wires":[]},{"id":"ea8e659d.ae5518","type":"ui_text","z":"d6c58802.4a8398","group":"c6ea3507.e742d8","order":2,"width":"5","height":"1","name":"","label":"Velocidade do Vento ","format":"{{msg.payload.winddirection}}","layout":"row-spread","x":1020,"y":160,"wires":[]},{"id":"f94cdea4.00ad","type":"ui_gauge","z":"d6c58802.4a8398","name":"","group":"81bdd7e8.ccb7a8","order":1,"width":"5","height":"5","gtype":"gage","title":"Temperatura","label":"units","format":"{{value}}","min":"-20","max":"45","colors":["#ffffff","#009dff","#ff3300"],"seg1":"","seg2":"","x":1090,"y":240,"wires":[]},{"id":"ffa81fad.ad7eb","type":"ui_gauge","z":"d6c58802.4a8398","name":"","group":"efab661c.6dcc28","order":1,"width":"5","height":"5","gtype":"wave","title":"Umidade","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1100,"y":320,"wires":[]},{"id":"68de7edd.0c9ab","type":"ui_gauge","z":"d6c58802.4a8398","name":"","group":"c6ea3507.e742d8","order":1,"width":"5","height":"4","gtype":"compass","title":"Direção do Vento","label":"o","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1130,"y":400,"wires":[]},{"id":"f508fec5.089f2","type":"function","z":"d6c58802.4a8398","name":"","func":"msg.payload = msg.payload.tempc\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":260,"wires":[["f94cdea4.00ad"]]},{"id":"5e969c5b.0e0c14","type":"function","z":"d6c58802.4a8398","name":"","func":"msg.payload = msg.payload.humidity\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":320,"wires":[["ffa81fad.ad7eb"]]},{"id":"7673255d.254b4c","type":"function","z":"d6c58802.4a8398","name":"","func":"msg.payload = msg.payload.winddirection\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":380,"wires":[["68de7edd.0c9ab"]]},{"id":"4e9ea932.20a298","type":"ui_text_input","z":"d6c58802.4a8398","name":"","label":"","tooltip":"","group":"fff52f3e.19a3b","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":320,"y":240,"wires":[["3a887a58.458c66"]]},{"id":"282da41a.ac255c","type":"openweathermap","z":"d6c58802.4a8398","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"pt","x":670,"y":240,"wires":[["f508fec5.089f2","5e969c5b.0e0c14","7673255d.254b4c","ea8e659d.ae5518","ae1bc09f.4b245","3dd17f09.482f7","dcb66f27.5ca02","ef93cc97.bce78"]]},{"id":"3a887a58.458c66","type":"function","z":"d6c58802.4a8398","name":"","func":"msg = {\n        'location':{\n            'city': msg.payload,\n            'country':'Brasil'\n        }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":240,"wires":[["282da41a.ac255c"]]},{"id":"dcb66f27.5ca02","type":"ui_text","z":"d6c58802.4a8398","group":"fff52f3e.19a3b","order":4,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload. description}}","layout":"row-spread","x":980,"y":120,"wires":[]},{"id":"3dd17f09.482f7","type":"ui_text","z":"d6c58802.4a8398","group":"fff52f3e.19a3b","order":3,"width":0,"height":0,"name":"","label":"Detalhes","format":"{{msg.payload. detail}}","layout":"row-spread","x":990,"y":80,"wires":[]},{"id":"ae1bc09f.4b245","type":"ui_text","z":"d6c58802.4a8398","group":"fff52f3e.19a3b","order":2,"width":0,"height":0,"name":"","label":"Cidade: ","format":"{{msg.payload. location}}","layout":"row-spread","x":980,"y":40,"wires":[]},{"id":"ef93cc97.bce78","type":"debug","z":"d6c58802.4a8398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":100,"wires":[]}]